*{
padding: 0;
margin: 0;
}
body{
    background-image: url('../assets/graphs/bckgrd.jpg');
    background-size: cover;
    background-position: center;


}
.wrapper{
    align-items: center;
}

.application{
    height: 80vh;
    width: 75vw;
    background: rgba(0, 0 ,0, .5);
    margin: auto;
    
    /* align-items: center;
    justify-items: center; */
    }